{% extends 'base.html' %}

{% block body %}


<div class="jumbotron bg-white container">
  <h1 class="display-4">About us<span class="fgrn">.</span></h1>
  <small class="text-justify text-muted">Established in the year 1951.</small>
  <br>
  <span class="fgrn"><strong>We</strong></span> have emerged as one of the leading manufacturers of industrial fasteners and pipe fittings. These encompass nuts, bolts and screws and are appreciated for their sturdy construction, high tensile property and superior performance.</p>
  <hr class="my-4">
  <div class="container">
    <h3 class="fgrn" style="font-weight:lighter;">Basic Information.</h3>

    <table class="table table-bordered">
    <tbody>
    <tr>
       <td class="table-active">Nature of Business</td>
        <td>Manufacturer</td>
    </tr>
        <tr>
       <td class="table-active">Additional Business</td>
        <td>Mark</td>
    </tr>

    <tr>
       <td class="table-active">Company CEO</td>
        <td>Mark</td>
    </tr>

    <tr>
       <td class="table-active">Registered Address</td>
        <td>Mark</td>
    </tr>

    <tr>
       <td class="table-active">Industry</td>
        <td>Mark</td>
    </tr>

    <tr>
       <td class="table-active">Mark</td>
        <td>Mark</td>
    </tr>

    <tr>
       <td class="table-active">Mark</td>
        <td>Mark</td>
    </tr>

    <tr>
       <td class="table-active">Mark</td>
        <td>Mark</td>
    </tr>
  </tbody>
</table>

  </div>
</div>

{% endblock %}