{% extends 'base.html' %}

{% block body %}


<div class="jumbotron bg-white container">
  <h1 class="display-4">About us<span class="fgrn">.</span></h1>
  <small class="text-justify text-muted">Established in the year 1951.</small>
  <br>
  <p><span class="fgrn"><strong>We</strong></span> have emerged as one of the leading manufacturers of industrial fasteners and pipe fittings. These encompass nuts, bolts and screws and are appreciated for their sturdy construction, high tensile property and superior performance.</p>
    <p class='text-justify'><span class="fgrn">TYPES AND USES OF FASTENER</span>
Fasteners are nothing but the universal components used to create non-permanent joints. In other words, they will simplify the manufacturer of structures and machines. Being reduces the need for larger parts, fasteners are normally easier to design less complex components and even fasten them together. They could also be installed with the intention to offer additional support.

Types Fasteners

Uses:

Ranging from the usual household appliances we have used in our everyday life to some high tech gizmos, we have a common component present in them, that’s a fastener. Even though fasteners are not directly visualized by us, they will play an essential role in our regular life. Whatever it may be, right from holding tables and chairs we sit on to automobiles that we travel as each and every edge of what we have used is held in position through a Fastener.

People often make use of Fasteners for non-permanent joints. What do you mean by non-permanent joints? A joint, which could be dismantled or removed without the damage or destruction of joining components, could be referred as a non-permanent joint.</p>
  <hr class="my-4">
  <div class="container">
    <h3 class="fgrn" style="font-weight:lighter;">Basic Information.</h3>

    <table class="table table-bordered">
    <tbody>
    <tr>
       <td class="table-active">Nature of Business</td>
        <td>Manufacturer</td>
    </tr>
        <tr>
       <td class="table-active">Additional Business</td>
        <td>Mark</td>
    </tr>

    <tr>
       <td class="table-active">Company CEO</td>
        <td>Mark</td>
    </tr>

    <tr>
       <td class="table-active">Registered Address</td>
        <td>Mark</td>
    </tr>

    <tr>
       <td class="table-active">Industry</td>
        <td>Mark</td>
    </tr>

    <tr>
       <td class="table-active">Mark</td>
        <td>Mark</td>
    </tr>

    <tr>
       <td class="table-active">Mark</td>
        <td>Mark</td>
    </tr>

    <tr>
       <td class="table-active">Mark</td>
        <td>Mark</td>
    </tr>
  </tbody>
</table>

  </div>
</div>

{% endblock %}