<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="author" content="Kapoor Steel Craft">
    <meta name="description" content="Kapoor Steel Craft.---Mfg.Forging and Fastener.---KAPOOR STEEL CRAFT(ksc) is one of the leading manufacturers and suppliers of nuts and bolts.">
    <meta name="robots" content="index follow" /><meta name="googlebot" content="index follow" />
    <meta name="keywords" content="kscforging,Kscforging,Kapoor Steel Craft, Manufacturer, Exporter, Forging,Fasteners, Engineering,Bolts, Nuts, Studs Bots, Foundation Bolts,Nut Bolt Manufacturers in mumbai, Washers Suppliers in mumbai, India, Bolt and Nuts Suppliers in mumbai, Washers Wholesalers in mumbai, Manufacturers in mumbai">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/static/style.css">
      <!--{% include 'style.html' %}-->
      <style>
        .caa {
 padding-bottom:200px

  }
  .frgn3{
    color:#402125;
}
          @media only screen and (max-width: 768px) {
    .caa {
 font-size:3vw;
 padding-bottom:0px

  }
}
      </style>
    <title>Kscforging.com</title>

  </head>
  <body class="">

  {% include 'navbar.html' %}

  {% block body %}{% endblock%}

  {% include 'footer.html' %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
  </body>
</html>