<div class="underll mx-1 py-0 px-1" style="background-color: #dbdbdb">
  <h4 style="color: #f1f1f1 ">.</h4>
</div>
<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
  <ul>
    <li><h6 class="text-muted">Kapoor Steel Craft. Mgf.Forging and Fastener.</h6></li>
    <li> <img src="phone.png"><a href="tel:82866 45300">82866 45300</a></li>
    <li><a href="">                    R 408, 4th Floor, 98 Narayan Dhuru Street, Near Nagdevi Area, Masjid Bunder ,
      Kalbadevi,          Mumbai -
                  400072,
                  Maharashtra,
                India </a></li>
  </ul>
  </div>
 <div class="container">
      <span class="text-muted">contact no:9768890726 | 8108877060.</span>
  </div>

</footer>
