<div class="cardcol underll mx-1 px-1">
  <h4 class="ml-1" style="color:f1f1f1;"></h4>
</div>
<footer class="footer mt-auto py-3 bg-light">
<!--<strong class="mx-3">Kapoor Steel Craft.</strong>-->

<!--<strong class="mx-3 text-muted">Mgf.Forging and Fastener.</strong>-->
  <div class="container">
  <ul style="list-style-type:none;">
    <!--<li><h6 class="text-muted">Kapoor Steel Craft. Mgf.Forging and Fastener.</h6></li>-->
    <li><img src="/media/phone-68-16.png"> <a href="tel:9594678600"  class="text-dark"> 9594678600<p class="text-muted">Ayaz kapoor</p></a></li>
    <li><img src="/media/whatsapp-16.png"><a href="tel:8767659596"  class="text-dark"> 8767659596<p class="text-muted"></p></a></li>
    <li><img src="/media/phone-68-16.png"> <a href="tel:8286645300"  class="text-dark"> 8286645300<p class="text-muted">Ejaz kapoor</p></a></li>
    <li><img src="/media/Maps.png"> <a href="https://goo.gl/maps/eySDrXgw1bLKxsHo7">Get the directions.</a></li>
  </ul>
  </div>
  <hr>
 <div class="container">
      <span class="text-muted mx-auto">Design and Developed By <a href="https://hyperdec.pythonanywhere.com/" class="text-warning">Hyperdec.com</a> </span>
  </div>

</footer>
